@import url(./fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-default {
		@apply leading-none tracking-[-0.075em] font-semibold;
		word-spacing: 0.25rem;
	}
}

[smooth-scroll] .scroll-content {
	height: 100%;
	width: 100%;
}
[smooth-scroll] .scrollbar-track {
	border-radius: 1rem;
	background-color: #ffffff11;
}
[smooth-scroll] .scrollbar-track-x {
	transform: scaleX(0.5);
}
[smooth-scroll] .scrollbar-track-y {
	transform: scaleY(0.5) translateX(-50%);
}
[smooth-scroll] .scrollbar-thumb {
	background-color: #ffffff99;
}