@import url(./fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-default {
		@apply leading-none tracking-[-0.075em] font-semibold;
		word-spacing: 0.25rem;
	}
}

[smooth-scroll] .scroll-content {
	height: 100%;
}
[smooth-scroll] .scrollbar-track-x {
	transform: scaleX(0.5);
	border-radius: 1rem;
	background-color: #ffffff22;
}
[smooth-scroll] .scrollbar-thumb-x {
	background-color: #ffffff99;
}